.section-terms {
    padding: 135px 0 0;
}

.section-terms__item {
    margin-bottom: 65px;
}

body {
    counter-reset: section;
}

.section-terms__headline {
    font-size: 31px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: $championFont;
    color: $theme2;
    margin-bottom: 25px;

    @include max-w(768px) {
        font-size: 28px;
    }

    &:before {
        counter-increment: section;
        content: counter(section)'.';
        display: inline-block;
    }

    * {
        font-size: 31px;
        font-weight: 400;
        text-transform: uppercase;
        font-family: $championFont;
        color: $theme2;
        margin-bottom: 25px;
    }
}

.section-terms__info {
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    color: $theme;

    * {
        font-size: 16px;
        font-weight: 400;
        line-height: 23px;
        margin-bottom: 25px;
    }

    a {
        color: $theme2;
        border-bottom: 1px solid $theme2;
        transition: $transition;

        &:hover {
            color: $theme;
            border-bottom: 1px solid $theme;
        }
    }

    li {
        margin-bottom: 15px;
    }

    strong {
        font-weight: 500;
    }
}